<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>CanteenManagementSystem</display-name>
	<welcome-file-list>
		<welcome-file>views/login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>loginSignup.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>loginSignup.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookTicket</display-name>
		<servlet-name>BookTicket</servlet-name>
		<servlet-class>ticket.BookTicket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookTicket</servlet-name>
		<url-pattern>/BookTicket</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewTickets</display-name>
		<servlet-name>ViewTickets</servlet-name>
		<servlet-class>ticket.ViewTickets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewTickets</servlet-name>
		<url-pattern>/ViewTickets</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>home.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>home.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>